extends layout
block content
  div(data-role='header',class='ui-header ui-bar-b')
    h1= title
  div(data-role='content',class='ui-content')
    p
      em We've got a question for you...
    p #{question}
    form(action="/askme", method="post")
      each answer in answers
        input(type="radio", name="answer", id="answer-radio-"+answer, value=answer)
        label(for="answer-radio-"+answer) #{answer}
      br
      input(type="hidden", name="question", value=qid)
      input(type="submit", value="Submit")